.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vmin;
}

.Generated-map {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vmin;
  max-width: 50vmin;
  flex: 1;
}

.App-header {
  padding-top: 5vmin;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.generate-button {
  height: 3vmin;
  width: 10vmin;
  margin: 0px 5px 0px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
